.HeaderBackround {

    position: relative;
    
    margin-top: 100px;

    height: 200px;
    border-radius: 10px;
    background-color: rgb(217, 217, 217);
    font-family: 'Orbitron', sans-serif;

    margin-left: 10%;
    margin-right: calc(10% - 95px);
     
  
}

.BodyBackround {



    position: relative;
    height: 350px;
    border-radius: 10px;
    background-color: rgb(217, 217, 217);
    font-family: 'Orbitron', sans-serif;
    margin-left: 10%;
    margin-right: calc(10% - 95px);
    
  
}

.gridCourse {
    
    display: grid; 
    gap: 75px;
    

    
    
    

  }


