/*Kursnamen-Styling*/
#courseNameBodyId {
    color: black;
    font-size: var(--text-size-h2);
    margin-top: 50px;
    text-align: center;
}

#teacherNameId {
    position: relative;
    margin-top: 55px;
    font-size: 35px;
    text-align: center;
}

/*Kursinfos-Styling*/
#enrollmentOptionsId {
    color: var(--text-color-black);
    font-size: var(--text-size-h2);
    text-align: center;
}

#einschreibeform{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:20px;
    padding-bottom:20px;
}

#loginKeyPanel{
    margin-bottom: 15px;
    font-size: 35px;
    text-align: center;
    margin-top: 55px;
    border-radius: var(--border-radius);
    border: 1px solid rgb(0, 0, 0);
}

#errorMsg {
    color:red;
    text-align: center;
    font-size: var(--text-size-default);
    font-style: italic;
}

#enrollButtonId {
    background-color: var(--side-background-color-1);
    color: var(--text-color-white);
    padding: 3px 100px;
    font-size: var(--text-size-default);
    margin-top: 40px;
    font-family: 'Orbitron', sans-serif;
    cursor: pointer;
    border-radius: var(--border-radius);
    align-items: center;
    justify-content: center;
    border:none;
}

#enrollButtonDiv {
    align-items: center;
    justify-content: center;
}

#enrollButtonId:hover{
    background-image: var(--navbar-background-image-horizontal);
    color:var(--text-color-black);
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.4);
}

#cancelButtonDiv2{
    text-align: center;
    margin-top: 30px;
}

#cancelButtonDiv2 #cancelButtonId{
    background-color: var(--side-background-color-1);
    font-family: 'Orbitron', sans-serif;
    color: var(--text-color-white);
    font-size: var(--text-size-default);
    padding:3px 110px;
    text-decoration: none;
    border-radius: var(--border-radius);
}

#cancelButtonDiv2 a[id=cancelButtonId]:hover{
    background-image: var(--navbar-background-image-horizontal);
    color:var(--text-color-black);
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.4);
}

.abmeldeClass {
    margin-left: 100%;
    visibility: hidden;
}

.abmeldeClass label {
    cursor: pointer;
}

.abmeldeClass #abmelde_Checkbox {
    visibility: hidden;
}
