/*Kursinfos-Styling*/
#enrollmentOptionsId {
    color: var(--text-color-black);
    font-size: var(--text-size-h2);
    text-align: center;
}

#einschreibeform{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:20px;
    padding-bottom:20px;
    margin-top: 40px
}

#loginKeyPanel{
    margin-bottom: 10px;
    font-size: var(--text-size-textfields);
    text-align: center;
    margin-top: 55px;
    border-radius: var(--border-radius);
    border: 1px solid rgb(0, 0, 0);
}

#errorMsg {
    color:red;
    text-align: center;
    font-size: var(--text-size-default);
    font-style: italic;
}

#enrollButtonDiv {
    align-items: center;
    justify-content: center;
}

#enrollButtonId {
    background-color: var(--side-background-color-1);
    color: var(--text-color-white);
    padding: 3px 100px;
    font-size: var(--text-size-default);
    margin-top: 30px;
    font-family: 'Orbitron', sans-serif;
    cursor: pointer;
    border-radius: var(--border-radius);
    border:none;
}

#enrollButtonId:hover{
    background-image: var(--navbar-background-image-horizontal);
    color:var(--text-color-black);
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.4);
}

#cancelButtonDiv2{
    text-align: center;
    margin-top: 50px;
}

#cancelButtonDiv2 #cancelButtonId{
    background-color: var(--side-background-color-1);
    font-family: 'Orbitron', sans-serif;
    color: var(--text-color-white);
    font-size: var(--text-size-default);
    padding:3px 110px;
    text-decoration: none;
    border-radius: var(--border-radius);
}

#cancelButtonDiv2 a[id=cancelButtonId]:hover{
    background-image: var(--navbar-background-image-horizontal);
    color:var(--text-color-black);
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.4);
}

.abmeldeClass {
    margin-left: 88%;
    visibility: hidden;
}

.abmeldeClass label {
    cursor: pointer;
}

.abmeldeClass #abmelde_Checkbox {
    visibility: hidden;
}

.BodyCourseClass_Einschreibeseite{
    height:65%;
    margin-left:calc(15% - 95px);
    margin-right: calc(10% - 95px);
    margin-top:80px;
    border-radius: var(--border-radius);
    box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
    padding-top: 10px;
}
