.gridCoursesClass {
    height: 85%;
    margin-top: var(--mainHeader-Top-margin);
}

.HeaderCourseClass {
    height: min-content;
    text-align: center;
}

.HeaderCourseClass h1 {
    font-size: var(--text-size-h1);
    font-weight: bold;
}

.HeaderCourseClass p {
    font-size: var(--text-size-h3);
}

.BodyCourseClass {
    height:min-content;
    margin-left:var(--mainSiteBlocks-margin-left);
    margin-right: calc(10% - 95px);
    margin-top:80px;
    border-radius: var(--border-radius);
    box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
    padding-top:10px;
    padding-bottom: 10px;
}

#footer{
    margin-top:auto;
    position: relative;
    height: 50px;
    margin-right: calc(10% - 95px);
    margin-left: var(--mainSiteBlocks-margin-left);
    clear:both;

}