/* in der Navbar zugehörige ungeordnete Listenlayout-Einstellungen */
nav ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

nav ul li label {
  font-size: var(--text-size-default);
}

/* in der Navbar zugehörige Listeneintrag-Einstellungen mit Hover-Einstellung */
nav li {
  height: 100%;
  width: var(--dropdown-width);
  position: relative;
}

nav li:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

/* in der Navbar zugehörige Dropdown-Listeneintrag-Einstellungen */
nav ul a {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
}

/* "Kurse"/"Tools"/"Forum"/"Profil"-Dropdown-Einstellungen */
.dropdown_K, .dropdown_T, .dropdown_F, .dropdown_P {
  height: min-content;
  width: var(--dropdown-width);
  background: var(--side-background-color-1);

  display: none;
  flex-direction: column;

  position: absolute;
  top: var(--navbar-height);
  border: 1px solid var(--border-color-black);
  border-radius: var(--border-radius);
  z-index: 5;
}

/* "Kurse"/"Tools"/"Forum"/"Profil"-Dropdown-Eintragsgrößen-Einstellungen */
.dropdown_K li, .dropdown_T li, .dropdown_F li, .dropdown_P li {
  height: 45px;
  width: 100%;
}

/* "Kurse"/"Tools"/"Forum"/"Profil"-Dropdown-Optionen-Einstellungen */
.dropdown_K li a, .dropdown_T li a, .dropdown_F li a, .dropdown_P li a  {
  text-align: center;
  justify-content: center;
  color: var(--text-color-white);
  font-size: var(--text-size-ddo);
}

.dropdown_K button {
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  text-align: center;
  cursor: pointer;
}

/* "Kurse"/"Tools"/"Forum"/"Profil"-Dropdown bei Hover-Einstellung */
nav li:hover .dropdown_K, nav li:hover .dropdown_T, nav li:hover .dropdown_F, nav li:hover .dropdown_P {
  display: flex;
}

/* Navbar-Einträge Checkboxen nicht darstellen */
nav input[type="checkbox"] {
  display: none;
}

/* "Kurse"/"Tools"/"Forum"/"Profil"-Label Zentrierung-Einstellung*/
.expandable_li_K, .expandable_li_T, .expandable_li_F, .expandable_li_P {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Suchfeldleiste-Einstellung*/
.searchBar {
  margin-left: 50px;
  color: black;
  display: flex;
  padding: 2px;
  border: 1px solid black;
  border-radius: 5px;
}

/* Suchfeld-Eingabe-Einstellung*/
input[type="search"] {
  background: transparent;
  margin: 0;
  padding: 7px 30px;
  border: 1px solid transparent;
  border-radius: inherit;
}

/* Suchfeld-Platzhalter-Einstellung*/
input[type="search"]::placeholder {
  color: rgb(0, 0, 0);
}

/* Suchfeld-Button-Einstellung*/
button[id="searchButton"] {
  text-indent: -999px;

  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent url("/img/loupe.png") no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

/* Einstellungen von fokussiertem Button und Suchfeldeingabe*/
button[type="submit"]:focus,
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 var(--accent-color);
  border-color: var(--accent-color);
  outline: none;
}

/* "Profilbild, -name,"-Label Zentrierung-Einstellung*/
.expandable_li_P {
  display: flex;
  align-items: center;
  margin-left: 45px;
  width: var(--profile-dd-width);
}
/* Abstand zu Profilbild */
.expandable_li_P label {
  margin-right: 15px;
}
/* Abstand zum Pfeilrunter "Profilbereich" */
.expandable_li_P [id="profileArrow"] {
  margin-left: 5px;
}

.darkmode {
  margin-left: 50px;
}

/* Dropdown Content (Hidden by Default) */
.searchBar {
}

#searchInput {
  width: 300px;
  padding: 0px;
  
}

#searchResults {
  top:0px;
  margin-top: 70px;
  position: absolute;
  left: 1160px;
  z-index: 11;
  display: none;
  background-color: var(--side-background-color-1);
  width: 325px;
  border-radius: var(--border-radius);
  border-color: var(--accent-color);
  border: 1px solid var(--border-color-black);
  color: var(--text-color-white);
}

.liSearchContent{   
  width: 100%;
   
  justify-content: center ;
  text-align: center;
   
}

.liSearchContent a {
  font-size: var(--text-size-default);
  color: var(--text-color-white);
  /* justify-content: left !important;
  text-align: left; */
}