/* in der Navbar zugehörige ungeordnete Listenlayout-Einstellungen */
nav ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

/* in der Navbar zugehörige Listeneintrag-Einstellungen mit Hover-Einstellung */
nav li {
  height: 100%;
  width: var(--dropdown-width);
  position: relative;
}

nav li:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

/* in der Navbar zugehörige Dropdown-Listeneintrag-Einstellungen */
nav ul a {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
}

/* "Kurse"-Dropdown-Einstellungen */
.dropdown_K {
  height: min-content;
  width: var(--dropdown-width);
  background: var(--background-color);

  display: none;
  flex-direction: column;

  position: absolute;
  top: var(--navbar-height);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  z-index: 5;
}

/* "Kurse"-Dropdown-Eintragsgrößen-Einstellungen */
.dropdown_K li {
  height: 40px;
  width: 100%;
}

/* "Kurse"-Dropdown-Wortzentrierungseinstellungen */
.dropdown_K li a {
  justify-content: center;
}

.dropdown_K button {
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  text-align: center;
  cursor: pointer;
}

/* "Kurse"-Dropdown bei Hover-Einstellung */
nav li:hover .dropdown_K {
  display: flex;
}

/* Navbar-Einträge Checkboxen nicht darstellen */
nav input[type="checkbox"] {
  display: none;
}

/* "Kurse"-Label Zentrierung-Einstellung*/
.expandable_li_K {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* "Tools"-Dropdown-Einstellungen */
.dropdown_T {
  height: min-content;
  width: var(--dropdown-width);
  background: var(--background-color);

  display: none;
  flex-direction: column;

  position: absolute;
  top: var(--navbar-height);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  z-index: 5;
}

/* "Tools"-Dropdown-Eintragsgrößen-Einstellungen */
.dropdown_T li {
  height: 40px;
  width: 100%;
}

/* "Tools"-Dropdown-Wortzentrierungseinstellungen */
.dropdown_T li a {
  justify-content: center;
}

/* "Tools"-Dropdown bei Hover-Einstellung */
nav li:hover .dropdown_T {
  display: flex;
}

/* "Tools"-Label Zentrierung-Einstellung*/
.expandable_li_T {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* "Forum"-Dropdown-Einstellungen */
.dropdown_F {
  height: min-content;
  width: var(--dropdown-width);
  background: var(--background-color);

  display: none;
  flex-direction: column;

  position: absolute;
  left: 0;
  top: var(--navbar-height);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  z-index: 5;
}

/* "Forum"-Dropdown-Eintragsgrößen-Einstellungen */
.dropdown_F li {
  height: 40px;
  width: 100%;
}

/* "Forum"-Dropdown-Wortzentrierungseinstellungen */
.dropdown_F li a {
  justify-content: center;
}

/* "Forum"-Dropdown bei Hover-Einstellung */
nav li:hover .dropdown_F {
  display: flex;
}

/* "Forum"-Label Zentrierung-Einstellung*/
.expandable_li_F {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Suchfeldleiste-Einstellung*/
.searchBar {
  margin-left: 60px;
  color: black;
  display: flex;
  padding: 2px;
  border: 1px solid black;
  border-radius: 5px;
}

/* Suchfeld-Eingabe-Einstellung*/
input[type="search"] {
  background: transparent;
  margin: 0;
  padding: 7px 30px;
  border: 1px solid transparent;
  border-radius: inherit;
}

/* Suchfeld-Platzhalter-Einstellung*/
input[type="search"]::placeholder {
  color: rgb(0, 0, 0);
}

/* Suchfeld-Button-Einstellung*/
button[id="searchButton"] {
  text-indent: -999px;

  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent url("/img/loupe.png") no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

/* Einstellungen von fokussiertem Button und Suchfeldeingabe*/
button[type="submit"]:focus,
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 var(--accent-color);
  border-color: var(--accent-color);
  outline: none;
}

/* "Profilbild, -name,"-Label Zentrierung-Einstellung*/
.expandable_li_P {
  display: flex;
  align-items: center;
  margin-left: 250px;
  width: var(--profile-dd-width);
}
/* Abstand zu Profilbild */
.expandable_li_P label {
  margin-right: 15px;
}
/* Abstand zum Pfeilrunter "Profilbereich" */
.expandable_li_P [id="profileArrow"] {
  margin-left: 5px;
}

/* "Profilbereich"-Dropdown-Einstellungen */
.dropdown_P {
  height: min-content;
  width: var(--profile-dd-width);
  background: var(--background-color);

  display: none;
  flex-direction: column;

  position: absolute;
  top: var(--navbar-height);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  z-index: 5;
}

/* "Profil"-Dropdown-Eintragsgrößen-Einstellungen */
.dropdown_P li {
  height: 40px;
  width: 100%;
}

/* "Profil"-Dropdown-Wortzentrierungseinstellungen */
.dropdown_P li a {
  justify-content: center;
}

/* "Profil"-Dropdown bei Hover-Einstellung */
nav li:hover .dropdown_P {
  display: flex;
}

/* "Profil"-Label Zentrierung-Einstellung*/
.expandable_li_P {
  display: flex;
  justify-content: center;
  align-items: center;
}

.darkmode {
  margin-left: 50px;
}

/* Dropdown Content (Hidden by Default) */
.searchBar {
}

#searchInput {
  width: 300px;
  padding: 0px;
  
}

#searchResults {

  top: 0px ;
  
  margin-top: 70px;
  left: 0px;
  position: absolute;
  left: 945px;
  z-index: 11;
  display: none;
  background-color: var(--background-color);
  width: 300px;
  border-radius: var(--border-radius);
  border-color: var(--accent-color);
  border: 1px solid var(--border-color);
  
  
  
  
}


.liSearchContent{   
   width: 100%;
   
  justify-content: center ;
  text-align: center;
   
}

.liSearchContent a {

  /* justify-content: left !important;
  text-align: left; */
}

