h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-size: var(--text-size-h1);
}

.choices {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 50px;
    height: 55%;
    background-color: var(--main-background-color-white);
    font-family: 'Orbitron', sans-serif;
    /*border: 2px solid rgb(0, 0, 0);*/
    margin-left: 10%;
    margin-right: calc(10% - 95px);
    text-align: center;
}

.choices p {
    align-items: center;
    font-size: var(--text-size-default);
    margin-top: 40px;
    margin-bottom: 10px;
}


.choices a {
    text-decoration: none;
    margin-top: 50px;
    align-items: center;
}

.choices a b{
    font-size: var(--text-size-textfields);
    text-align: center;
    justify-content: center;
    height: 50px;
    width:20%;
    padding: 3px 5%;
    border-radius: var(--border-radius);
    color: var(--text-color-white);
    background-color: var(--side-background-color-1);
}

.choices b:hover{
    background-image: var(--navbar-background-image-horizontal);
    color:var(--text-color-black);
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.4);
}




