
.blur-effect{
    filter: blur(3px);
    pointer-events: none;
}


.abmeldeClass {
    margin-left: 95%;
    height: 30px;
}

.abmeldeClass label {
}

.abmeldeClass #abmelde_button {
    border: none;
    cursor: pointer;
    background: transparent;
}

.popup-form {
    position: absolute;
    display:flex;
    flex-direction:column;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:20%;
    height: min-content;
    padding:20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
    margin-top: -25px;
    justify-content: center;
    align-items: center;
    z-index: 5;

    pointer-events: auto;
    visibility: visible;
    opacity: 1;
}


.popup-form h1 {
    font-size: 35px;
}

.popup-form #course_name {
    height:30px;
    width: 90%;
    margin-top:25px;
    font-size: 20px;
}

.popup-form #course_subjectarea {
    margin-top:25px;
    height:30px;
    width:50%;
    font-size: 20px;
}

.popup-form #course_semesternumber {
    margin-top:25px;
    margin-bottom:15px;
    height:30px;
    width: 50%;
    font-size: 20px;
}

.popup-form .rg_course_semestertime {
    display: flex;
    justify-content: center;
    width:90%;
}

.popup-form .rg_course_semestertime label {
    margin-right: 8px;
    font-size: 20px;
}

.popup-form #coursePassword {
    margin-top:25px;
    font-size: 18px;
    width:90%;
}

.popup-form #course_completion_btn {
    margin-top: 25px;
    width:30%;
    height:40px;
    cursor: pointer;
}
.popup-form #course_completion_btn:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.popup-form #course_completion_cancel_btn{
    margin-top: 15px;
    margin-right: 70%;
    width:30%;
    height:25px;
    cursor: pointer;
}

.popup-form #course_completion_cancel_btn a{
    text-decoration: none;
}

.popup-form #course_completion_cancel_btn:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.popup-form p {
    font-size: 13px;
    margin-left: 35%;
    margin-top: 15px;
}

 body {
     font-family: Arial, sans-serif;
 }

 .HeaderCourseClass h1 {
     font-size: 48px;
     font-weight: bold;
     margin-top: 10px;
 }

.HeaderCourseClass p {
    font-size: 30px;
    margin-top: 21px;
    margin-bottom: 30px;
    
}

 #editButton {
     background-color: #4CAF50;
     color: white;
     padding: 12px 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
 }

 #editButton:hover {
     background-color: #45a049;
 }

 .course-content {
     margin-top: 20px;
     white-space: pre-wrap;
 }

 #addButton {
     background-color: #008CBA;
     color: white;
     padding: 6px 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     margin-top: 0px;
 }

 #addButton:hover {
     background-color: #0077a7;
 }

 #singleContent {
     display: none;
 }

 #saveButton {
     background-color: purple;
     color: white;
     padding: 6px 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     margin-top: 0px;
 }


/* test                    */



.active-textarea {
    display: block;
}

.empty-line {
    height: 20px;
}










.popup-form p {
    font-size: 13px;
    margin-left: 35%;
    margin-top: 15px;
}