.HeaderCourseClass{
    display:flex;
    flex-direction: column;
}

.HeaderCourseClass h1{

}

.HeaderCourseClass p {

}

.abmeldeClass {
    margin-left: 95%;
}

.abmeldeClass label {
    cursor: pointer;
}

.abmeldeClass #abmelde_Checkbox {
    visibility: hidden;
}

