.login {
    background-color: var(--main-background-color-white);
    height: 86%;
    font-family: 'Orbitron', sans-serif;
    margin: var(--mainHeader-Top-margin) calc(10% - 95px) 10px 10%;
    text-align: center;
    z-index: -2;
}

.login h1{
    font-family: 'Orbitron', sans-serif;
    color: black;
    font-size: var(--text-size-h1);
    margin: 10px auto auto;
}

.login b{
    font-family: 'Orbitron', sans-serif;
    color: black;
    font-size: 18px;
}

.login a{
    font-family: 'Orbitron', sans-serif;
    color: black;
    font-size: 18px;
    margin:50px auto auto;
}

.login p {
    font-size: 18px;
    margin: 35px auto auto;
}

.username_tf {
    width:330px;
    font-size: var(--text-size-textfields);
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    margin-top: 80px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
}

.password_tf {
    width:330px;
    margin-top: 50px;
    margin-bottom: 7px;
    font-size: var(--text-size-textfields);
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
}

#forgotPW {
    /*width: 20%; */
    color:blue;
    font-size: 15px;
    font-style: italic;
    text-align: center;
}


#anmelde_btn {
    background-color: var(--side-background-color-1);
    color: var(--text-color-white);
    padding:3px 115px;
    font-size: var(--text-size-default);
    margin-top: 30px;
    font-family: 'Orbitron', sans-serif;
    cursor: pointer;
    border-radius: var(--border-radius);
    border:none;
}

input[type=submit]:hover{
    background-image: var(--navbar-background-image-horizontal);
    color:var(--text-color-black);
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.4);
}

#errorMessages {
    text-align: center;
    height: min-content;
}

#errorMessages p {
    margin-top: 30px;
    font-size: var(--text-size-default);
}

#cancelButtonDiv{
    text-align: center;
    margin-top: 40px;
}

#cancelButtonDiv #abbrechenButton{
    background-color: var(--side-background-color-1);
    font-family: 'Orbitron', sans-serif;
    color: var(--text-color-white);
    font-size: var(--text-size-default);
    padding:3px 115px;
    text-decoration: none;
    border-radius: var(--border-radius);
}

#cancelButtonDiv a[id=abbrechenButton]:hover{
    background-image: var(--navbar-background-image-horizontal);
    color:var(--text-color-black);
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.4);
}


