


.willkommensblock {
    position: relative;
    height:min-content;
    padding-bottom: 30px;
    margin-top: var(--mainHeader-Top-margin);
    margin-left: var(--mainSiteBlocks-margin-left);
    margin-right: var(--mainSiteBlocks-margin-right);
    border-radius: var(--border-radius);
    box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
}

.willkommensblock h1 {
    font-size: var(--text-size-h1);
    margin-left: 20px;
}

.willkommensblock p {
    font-family: sans-serif;
    font-size: var(--text-size-default);
    margin-left: 25px;
}


.blackboard {
    position: relative;
    height:min-content;
    background-color: var(--main-background-color-black);
    border-radius: var(--border-radius);
    margin-top:50px;
    margin-left: var(--mainSiteBlocks-margin-left);
    margin-right: var(--mainSiteBlocks-margin-right);
    box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
}

.blackboard h1 {
    font-size: var(--text-size-h2);
    color: var(--text-color-white);
    padding-top: 25px;
    margin-left: 25px;
}

.blackboard ul {
    font-family: bold;
    margin-left: 40px;
    list-style: none;
}

.blackboard_content {
    padding-bottom: 50px;
}

.blackboard_content button {
    background: transparent;
    cursor: pointer;
    margin-top: 35px;
    border:none;
    font-size: var(--text-size-h3);
    color: var(--text-color-white);
}


/* Style-Einstellung für NewsOfTheDay (NOTD)/UpcomingEvents (UE). */
.newsOfTheDay_collapsible, .upcomingEvents_collapsible {
    background: lightgray;
    height: min-content;
    cursor:pointer;
    border:none;
    padding:3px;
}

.notd_content, .ue_content{
    background: transparent;
    transition: max-height 0.2s ease-out;
    max-height: 0;
    overflow: hidden;
}

.notd_content li {
    margin-top: 20px;
}

.notd_content li a {
    text-decoration: none;
    font-size: var(--text-size-default);
    color: var(--text-color-white);
}
.notd_content li a:hover{
background: -webkit-linear-gradient(rgb(0, 255, 0),rgb(74, 142, 206));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.ue_content li p {
    text-decoration: none;
    font-size: var(--text-size-default);
    color: var(--text-color-white);
    margin-top: 20px;
}

/* Style-Einstellung für Kursbereich. */

.kursbereich{
    height: min-content;
    margin-top: 50px;
    margin-left: var(--mainSiteBlocks-margin-left);
    margin-right: var(--mainSiteBlocks-margin-right);
    border-radius: 10px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
    padding-bottom:20px;
}

.kursbereich h1 {
    font-size: var(--text-size-h2);
    margin-left: 25px;
}

.kursbereich ul {
    font-family: bold;
    height:min-content;
}

.kursbereich ul button {
    font-size: var(--text-size-h3);
    margin-left: 40px;
}



.collapsible {
    background: transparent;
    margin-left: 95%;
    cursor:pointer;
    border:none;
    padding:3px;
}

.filterContent {
    background-color: var(--main-background-color-black);
    border-radius: var(--border-radius);
    transition: max-height 0.2s ease-out;
    max-height: 0px;
    overflow: hidden;
    padding-bottom:3px;
}

.filterContent ul li {
    list-style: none;
    display: inline;
    margin-left: 45px;
}

.filterContent li {
   margin-left:15px;
}

.filterContent label {
    font-size: var(--text-size-default);
    color: var(--text-color-white);
    margin-right: 50px;
}

#enrolled label{
    font-size: 15px;
}

#semesternumber {
    margin-top:15px;
    margin-right:50px;
    font-size: 18px;
}

#fachbereich {
    font-size: 18px;
}

#filtern {
    margin-top: 15px;
    margin-left: 45px;
}

/* Style-Einstellung für FB Aufklapp-Mechanismus. */

.fb01Collapsible, .fb02Collapsible, .fb03Collapsible,.fb04Collapsible, .fb05Collapsible, .fb06Collapsible, .fb13Collapsible {
    background: transparent;
    cursor:pointer;
    border:none;
    padding:5px;
    margin-top:10px;
}

.fb01_content, .fb02_content, .fb03_content, .fb04_content, .fb05_content, .fb06_content, .fb13_content {
    background: transparent ;
    transition: max-height 0.2s ease-out;
    max-height: 0;
    overflow: hidden;
    margin-left: 45px;
}

.fb01_content li a, .fb02_content li a, .fb03_content li a, .fb04_content li a, .fb05_content li a, .fb06_content li a, .fb13_content li a {
    text-decoration: none;
    font-size: var(--text-size-default);
}

.fb01_content li a:hover, .fb02_content li a:hover, .fb03_content li a:hover, .fb04_content li a:hover, .fb05_content li a:hover, .fb06_content li a:hover, .fb13_content li a:hover {
    background-image: var(--navbar-background-image-horizontal);
    color:var(--text-color-black);
}