


.willkommensblock {
    position: relative;
    height:min-content;

    border: 2px solid rgb(0,0,0);
    border-radius: 10px;
    background-color: lightgray;
    padding: 5px;
    margin-top:  20px;
    margin-left: var(--mainSiteBlocks-margin-left);
    margin-right: var(--mainSiteBlocks-margin-right);
}

.willkommensblock h1 {
    font-size: 40px;
    margin-left: 20px;
}

.willkommensblock p {
    font-family: sans-serif;
    margin-left: 25px;
}


.blackboard {
    position: relative;
    height:min-content;
    border: 2px solid rgb(0,0,0);
    border-radius: 10px;
    background-color: lightgray;
    margin-top:20px;
    margin-left: var(--mainSiteBlocks-margin-left);
    margin-right: var(--mainSiteBlocks-margin-right);
}

.blackboard h1 {
    font-size: 40px;
    margin-left: 25px;
    margin-top:20px;
}

.blackboard ul {
    font-family: bold;
    margin-left: 40px;
    list-style: none;
}

.blackboard ul li {
    font-size: 18px;
}

.blackboard_content button {
    background: transparent;
    cursor: pointer;
    margin-top: 20px;
    border:none;
    font-size: 25px;
}

.blackboard_content li a{
    text-decoration: none;
}

/* Style-Einstellung für NewsOfTheDay (NOTD). */
.newsOfTheDay_collapsible {
    background: lightgray;
    height: min-content;
    cursor:pointer;
    border:none;
    padding:3px;
}

.notd_content {
    background: transparent;
    transition: max-height 0.2s ease-out;
    max-height: 0;
    overflow: hidden;
}

.notd_content li {
    margin-top: 15px;
}

.notd_content li a {
    text-decoration: none;
    font-size: 22px;

}

/* Style-Einstellung für UpcomingEvents (UE). */
.upcomingEvents_collapsible {
    background: lightgray;
    height: min-content;
    cursor:pointer;
    border:none;
    padding:3px;
}

.ue_content {
    background: transparent;
    transition: max-height 0.2s ease-out;
    max-height: 0;
    overflow: hidden;
}

.ue_content li p {
    text-decoration: none;
    font-size: 22px;
    margin-top: 15px;
}


.kursbereich{
    height: min-content;
    border: 2px solid rgb(0,0,0);
    border-radius: 10px;
    background-color: lightgray;
    margin-top:20px;
    margin-left: var(--mainSiteBlocks-margin-left);
    margin-right: var(--mainSiteBlocks-margin-right);
}



.kursbereich h1 {
    font-size: 40px;
    margin-left: 10px;
}

.kursbereich ul {
    font-family: bold;
    margin-left: 40px;
    list-style: none;
    height:min-content;
}

.kursbereich ul button {
    font-size: 25px;
}



.collapsible {
    background: lightgray;
    margin-left: 95%;
    cursor:pointer;
    border:none;
    padding:3px;
}

.filterContent {
    background: aliceblue;
    height:min-content;
    transition: max-height 0.2s ease-out;
    max-height: 0;
    overflow: hidden;
}

.filterContent ul{
    display:flex;
}

.fitlerContent li {
    font-size: 15px;
}

.filterContent label {
    font-size: 15px;
}

#enrolled label{
    font-size: 15px;
}

#winter {
}

#semesternumber {
    font-size: 15px;
}

#fachbereich {
    font-size: 15px;
}

/* Style-Einstellung für FB01. */

.fb01Collapsible {
    background: transparent;
    cursor:pointer;
    border:none;
    padding:5px;
}

.fb01_content {
    background: transparent ;
    transition: max-height 0.2s ease-out;
    max-height: 0;
    overflow: hidden;
}

.fb01_content li a {
    text-decoration: none;
    font-size: 22px;
}

/* Style-Einstellung für FB02. */
.fb02Collapsible {
    background: lightgray;
    height: min-content;
    cursor:pointer;
    border:none;
    padding:3px;
}

.fb02_content {
    background: transparent;
    transition: max-height 0.2s ease-out;
    max-height: 0;
    overflow: hidden;
}

.fb02_content li a {
    text-decoration: none;
    font-size: 22px;
}

/* Style-Einstellung für FB03. */
.fb03Collapsible {
    background: lightgray;
    height: min-content;
    cursor:pointer;
    border:none;
    padding:3px;
}

.fb03_content {
    background: transparent;
    transition: max-height 0.2s ease-out;
    max-height: 0;
    overflow: hidden;
}

.fb03_content li a {
    text-decoration: none;
    font-size: 22px;
}


/* Style-Einstellung für FB04. */
.fb04Collapsible {
    background: lightgray;
    height: min-content;
    cursor:pointer;
    border:none;
    padding:3px;
}

.fb04_content {
    background: transparent;
    transition: max-height 0.2s ease-out;
    max-height: 0;
    overflow: hidden;
}

.fb04_content li a {
    text-decoration: none;
    font-size: 22px;
}

/* Style-Einstellung für FB05. */
.fb05Collapsible {
    background: lightgray;
    height: min-content;
    cursor:pointer;
    border:none;
    padding:3px;
}

.fb05_content {
    background: transparent;
    transition: max-height 0.2s ease-out;
    max-height: 0;
    overflow: hidden;
}

.fb05_content li a {
    text-decoration: none;
    font-size: 22px;
}
/* Style-Einstellung für FB06. */
.fb06Collapsible {
    background: lightgray;
    height: min-content;
    cursor:pointer;
    border:none;
    padding:3px;
}

.fb06_content {
    background: transparent;
    transition: max-height 0.2s ease-out;
    max-height: 0;
    overflow: hidden;
}

.fb06_content li a {
    text-decoration: none;
    font-size: 22px;
}


/* Style-Einstellung für FB13. */
.fb13Collapsible {
    background: lightgray;
    height: min-content;
    cursor:pointer;
    border:none;
    padding:3px;
}

.fb13_content {
    background: transparent;
    transition: max-height 0.2s ease-out;
    max-height: 0;
    overflow: hidden;
}

.fb13_content li a {
    text-decoration: none;
    font-size: 22px;
}