


.willkommensblock {
    position: relative;
    height:min-content;

    border: 2px solid rgb(0,0,0);
    border-radius: 10px;
    background-color: lightgray;
    padding: 5px;
    margin-top:  20px;
    margin-left: var(--mainSiteBlocks-margin-left);
    margin-right: var(--mainSiteBlocks-margin-right);
}

.willkommensblock h1 {
    font-size: 40px;
    margin-left: 20px;
}

.willkommensblock p {
    font-family: sans-serif;
    margin-left: 25px;
}


.blackboard {
    position: relative;
    height:min-content;
    border: 2px solid rgb(0,0,0);
    border-radius: 10px;
    background-color: lightgray;
    margin-top:20px;
    margin-left: var(--mainSiteBlocks-margin-left);
    margin-right: var(--mainSiteBlocks-margin-right);
}

.blackboard h1 {
    font-size: 40px;
    margin-left: 25px;
    margin-top:20px;
}

.blackboard ul {
    font-family: bold;
    margin-left: 40px;
    list-style: none;
}

.blackboard ul li {
    font-size: 18px;
}

.blackboard_content button {
    background: transparent;
    cursor: pointer;
    margin-top: 20px;
    border:none;
    font-size: 25px;
}

.blackboard_content li a{
    text-decoration: none;
}

/* Style-Einstellung für NewsOfTheDay (NOTD). */
.newsOfTheDay_collapsible {
    background: lightgray;
    height: min-content;
    cursor:pointer;
    border:none;
    padding:3px;
}

.notd_content {
    background: transparent;
    transition: max-height 0.2s ease-out;
    max-height: 0;
    overflow: hidden;
}

.notd_content li {
    margin-top: 15px;
}

.notd_content li a {
    text-decoration: none;
    font-size: 22px;

}

/* Style-Einstellung für UpcomingEvents (UE). */
.upcomingEvents_collapsible {
    background: lightgray;
    height: min-content;
    cursor:pointer;
    border:none;
    padding:3px;
}

.ue_content {
    background: transparent;
    transition: max-height 0.2s ease-out;
    max-height: 0;
    overflow: hidden;
}

.ue_content li p {
    text-decoration: none;
    font-size: 22px;
    margin-top: 15px;
}

/* Style-Einstellung für Kursbereich. */

.kursbereich{
    height: min-content;
    border: 2px solid rgb(0,0,0);
    border-radius: 10px;
    background-color: lightgray;
    margin-top:20px;
    margin-left: var(--mainSiteBlocks-margin-left);
    margin-right: var(--mainSiteBlocks-margin-right);
}

.kursbereich h1 {
    font-size: 40px;
    margin-left: 10px;
}

.kursbereich ul {
    font-family: bold;
    height:min-content;
}

.kursbereich ul button {
    font-size: 25px;
    margin-left: 40px;
}



.collapsible {
    background: lightgray;
    margin-left: 95%;
    cursor:pointer;
    border:none;
    padding:3px;
}

.filterContent {
    background: aliceblue;
    transition: max-height 0.2s ease-out;
    max-height: 0px;
    overflow: hidden;
}

.filterContent ul li {
    list-style: none;
    display: inline;
    margin-left: 45px;
}

.filterContent li {
   margin-left:15px;
}

.filterContent label {
    font-size: 18px;
    margin-right: 50px;
}

#enrolled label{
    font-size: 15px;
}

#semesternumber {
    margin-top:15px;
    margin-right:50px;
    font-size: 18px;
}

#fachbereich {
    font-size: 18px;
}

#filtern {
    margin-top: 15px;
    margin-left: 45px;
}

/* Style-Einstellung für FB Aufklapp-Mechanismus. */

.fb01Collapsible, .fb02Collapsible, .fb03Collapsible,.fb04Collapsible, .fb05Collapsible, .fb06Collapsible, .fb13Collapsible {
    background: transparent;
    cursor:pointer;
    border:none;
    padding:5px;
    margin-top:10px;
}

.fb01_content, .fb02_content, .fb03_content, .fb04_content, .fb05_content, .fb06_content, .fb13_content {
    background: transparent ;
    transition: max-height 0.2s ease-out;
    max-height: 0;
    overflow: hidden;
    margin-left: 45px;
}

.fb01_content li a, .fb02_content li a, .fb03_content li a, .fb04_content li a, .fb05_content li a, .fb06_content li a, .fb13_content li a {
    text-decoration: none;
    font-size: 22px;
}

.fb01_content li a:hover, .fb02_content li a:hover, .fb03_content li a:hover, .fb04_content li a:hover, .fb05_content li a:hover, .fb06_content li a:hover, .fb13_content li a:hover {
    color: aliceblue;
}