.signup-box {
    display: flex;
    flex-direction: column;
    background-color: var(--main-background-color-white);
    font-family: 'Orbitron', sans-serif;
    /*border: 2px solid rgb(0, 0, 0);
    border-radius: 10px; */
    margin: 150px calc(10% - 95px) 10px 10%;
    text-align: center;
}


.signup-box h1{
    font-family: 'Orbitron', sans-serif;
    font-size: var(--text-size-h1);
    margin-bottom:70px;
}

.signup-box input {
    font-family: 'Orbitron', sans-serif;
    font-size: var(--text-size-textfields);
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
}

.signup-box input [id="vorname"] {
margin-top: 50px;
}

.signup-box input[type=text] {
    width: 25%;
    display:block;
    margin: 15px auto auto;

}

.signup-box input[type=password] {
    width: 25%;
    display:block;
    margin: 15px auto auto;
}

.signup-box input[type=radio] {
    margin: 20px 5px auto;
}

.signup-box label{
    font-size: 20px;
    cursor:pointer;
    font-family: 'Orbitron', sans-serif;
}


.signup-Button {
    font-family: 'Orbitron', sans-serif;
    margin-top: 20px;
    cursor: pointer;
    font-size: var(--text-size-default);
    height: 40px;
    padding: 3px 145px;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--side-background-color-1);
    color: var(--text-color-white);
}

.signup-Button:hover {
    background-image: var(--navbar-background-image-horizontal);
    color: var(--text-color-black);
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.4);
}

 p {
    font-size: 25px;
    margin: 45px auto auto;
}

 .fehlerbenachrichtigung p {
     font-size: var(--text-size-default);
     margin-top:30px;
 }

 .fehlerbenachrichtigung i {
     color: var(--text-error-msg-red);
     font-size: 15px;
 }


 #abbrechenButtonDiv{
     margin-top: 30px;
 }

 a[id=abbrechenButton]{
     font-family: 'Orbitron', sans-serif;
     font-size: var(--text-size-default);
     padding:3px 10px;
     text-decoration: none;
     border-radius: var(--border-radius);
     background-color: var(--side-background-color-1);
     color: var(--text-color-white);
     border:none;
 }

 a[id=abbrechenButton]:hover{
     background-image: var(--navbar-background-image-horizontal);
     color: var(--text-color-black);
     box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.4);
 }

