:root {
    --background-color: #314453;
    --darker-background-color: #243848;
    --accent-color: #41DCE1;
    --text-color: #FFFFFF;

    --navbar-height: 85px;
}

*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: var(--text-color);
}

html{
    height: 100%;
}

body{
    height: 100%;
}

nav{
    height: var(--navbar-height);
    background-image: linear-gradient(to right, rgb(74, 142, 206), rgb(0, 255, 0));
    display: flex;
    align-items: center;
    justify-content: start;
}

nav .barTopLogo{
    margin-left: 10px;
    margin-right: 50px;
}

nav ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

nav li {
    height: 100%;
    width: 200px;
    text-align: center;
    position: relative;
}
nav li:hover{
    background: var(--accent-color);
}

nav ul a{
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
}

.dropdown_K{
    height: min-content;
    width: 200px;
    background: var(--background-color);

    display: none;
    flex-direction: column;

    position: absolute;
    left:0;
    top: var(--navbar-height);
}

.dropdown_K li{
    height: 40px;
    width: 100%;
}
.dropdown_K li a{
    justify-content: center;
}

nav li:hover .dropdown_K{
    display: flex;
}

nav input[type="checkbox"]{
    display: none;
}

.expandable_li_K{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown_T{
    height: min-content;
    width: 200px;
    background: var(--background-color);

    display: none;
    flex-direction: column;

    position: absolute;
    left:0;
    top: var(--navbar-height);
}

.dropdown_T li{
    height: 40px;
    width: 100%;
}
.dropdown_T li a{
    justify-content: center;
}

nav li:hover .dropdown_T{
    display: flex;
}

.expandable_li_T{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown_F{
    height: min-content;
    width: 200px;
    background: var(--background-color);

    display: none;
    flex-direction: column;

    position: absolute;
    left:0;
    top: var(--navbar-height);
}

.dropdown_F li{
    height: 40px;
    width: 100%;
}
.dropdown_F li a{
    justify-content: center;
}

nav li:hover .dropdown_F{
    display: flex;
}

.expandable_li_F{
    display: flex;
    justify-content: center;
    align-items: center;
}





































