body {
    background-color: white;
    margin: 0;
    padding: 0;  
  
    display: flex;
    justify-content: center;
  }

  .barBottomLinks{

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Orbitron', sans-serif;
    color: white; 
  }
  
  .barTop {
  
    position: absolute;
    height: 95px;
    width: 100%;
    background-image: linear-gradient(to right, rgb(74, 142, 206), rgb(0, 255, 0));
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: -1;
    
  }
  
  .barLeft {
    position: absolute;
    width: 80px;
    height: 100%;
    left: 0px;
    top: 0px;
    background-image: linear-gradient(to bottom, rgb(62, 138, 209), rgb(0, 255, 0));
    z-index: -2;
    position: fixed;
  }
  
  .barBottom {
  
    
    position: absolute;
    height: 50px;
    bottom: 10px;
    left: 10%;
    right: 10%;
    background-color: rgb(74, 78, 97);
    position: fixed;
   
    
  }
   
  .bitcoinLogo{
   
    position: relative;  
    width: 25px;
    margin-top: -20px;
    margin-right: 20px;
    align-self: center;
    float: right;      
  }
  
  .thmLogo {
    position: relative;
    width: 250px;
    left: 5px;
    top: 5px
  }

  
  
  