.login {

  position: relative;
  top: 350px;
  width: 750px;
  border-radius: 10px;
  background-color: rgb(217, 217, 217);
  font-family: 'Orbitron', sans-serif;
  border: 2px solid rgb(0, 0, 0);
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.login h1{
  font-family: 'Orbitron', sans-serif;
  color: black;
  font-size: 35px;
  margin-left: 10px;
  
}

.login b{
  font-family: 'Orbitron', sans-serif;
  color: black;
  font-size: 20px;
}

.login a{
  font-family: 'Orbitron', sans-serif;
  color: black;
  font-size: 15px;
}

.username {
  display: flex;
  gap: 50px;
  margin-top: 10%;
  margin-left: 20%;
  font-size: 20px;  
}

.username_tf {
  color: black;
  font-size: 20px;
}

.passwort {
  display: flex;
  gap: 100px;
  margin-top: 10%;
  margin-left: 20%;
  font-size: 20px;
}

.password_tf {
  color: black;
  font-size: 20px;
}

.forgot_passwort {
  
  margin-left: 20%;
    
}

input[type=submit] {
  background-image: linear-gradient(to right, rgb(74, 142, 206), rgb(0, 255, 0));
  width: 50%;
  padding: 1%;
  margin-left: 25%;
  margin-bottom: 5%;
  margin-top: 10%;
  font-family: 'Orbitron', sans-serif;  
  cursor: pointer;
}


