
.login {
  position: relative;
  margin-top:140px;
  width: 680px;
  /*left: 130px;*/

  border-radius: 10px;
  background-color: rgb(217, 217, 217);
  font-family: 'Orbitron', sans-serif;
  border: 2px solid rgb(0, 0, 0)

}

.username {
  display: flex;
  gap: 50px;
  margin-top: 10%;
  margin-left: 20%;
  font-size: 20px;  
}

.passwort {
  display: flex;
  gap: 100px;
  margin-top: 10%;
  margin-left: 20%;
  font-size: 20px;
}

.forgot_passwort { 
  gap: 94px;
  margin-top: 0;
  margin-left: 20%;
  font-size: 12px;
  margin-bottom: 10%;  
}


input[type=submit] {
  background-image: linear-gradient(to right, rgb(74, 142, 206), rgb(0, 255, 0));
  width: 50%;
  padding: 1%;
  margin-left: 25%;
  margin-bottom: 5%;
  font-family: 'Orbitron', sans-serif;  
}

